body{
    font-family: Open Sans;
    margin: 50px;
    background-color: #ffffdd;
}

.top{
    text-align: center;
}

.leftSide{
    display: inline-block;
    width: 47%;
    vertical-align: top;
    padding: 7px 15px;
}

.rightSide{
    display: inline-block;
    width: 46%;
    vertical-align: top;
    padding: 7px 15px;
}

.bottom{
    text-align: center;
}